allow platform_app init:unix_dgram_socket write;
allow platform_app init_tmpfs:file read;
allow platform_app fm_device:chr_file { read write ioctl open };

# 2016-8-25 added by aditya
allow platform_app healthd_service:service_manager find;
